.about-head { margin: 50px 0px; }
form { padding: 30px; background: #191919; border-radius: 5px; box-shadow: 0 25px 20px -20px black; }
textarea { height:200px; }
input#name, textarea, input[type="submit"] { width: 100%; margin: 10px 0; padding: 10px; border: none; border-radius: 4px; }
input#email, input#phone { width: 49%; margin: 10px 0; padding: 10px; border: none; border-radius: 4px; }
input#email { margin-right: 5px; }
/* input#phone { margin-left: 5px; } */
textarea#msg { height: 100px; }
input[type="submit"] { background: #00bd00; color: #fff; }
input[type="submit"]:hover { background: #009800; }
div#itabout { border-bottom: 1px solid #c2c2c2; padding-bottom: 50px; }