.navbar-brand { width: 150px;}
/* .nav-link { font-weight: 600; } */
.Header { position: sticky; top: 0; z-index: 999; }
.navbar-light .navbar-brand { color: rgb(84 84 84); font-weight: 600; font-size: 22px; }
